.benefits {
  background-color: var(--color-white);
  padding: 40px 0;
}

.benefits__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.02em;
  color: var(--color-gray-900);
  margin-bottom: 38px;
  text-align: center;
}

.benefits__grid {
  display: grid;
  place-items: center;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  gap: 48px 30px;
}

.benefits__item {
  display: flex;
  gap: 40px;
  background-color: var(--color-white);
  border-radius: 8px;
}

.benefits__item-icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.benefits__item-icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__item-content {
  width: 428px;
}

.benefits__item-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: var(--color-gray-900);
  margin-bottom: 8px;
}

.benefits__item-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--color-gray-900);
}

@media (--md-viewport) {
  .benefits {
    padding: 70px;
  }

  .benefits__title {
    font-size: 48px;
  }
}

@media (--lg-viewport) {
  .benefits {
    padding: 132px;
  }

  .benefits__title {
    font-size: 52px;
  }
}

@media (--xl-viewport) {
  .benefits {
    padding: 132px;
  }

  .benefits__title {
    text-align: left;
  }

  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
