/* TODO */

.button {
  background-color: var(--color-primary);
  color: var(--color-button-primary);
  font-family: var(--font-family);
  letter-spacing: -0.02em;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  border: none;
}

.button--small {
  border-radius: 1px;
  padding: 5px 20px;
  width: 172px;
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
}

.button--medium {
  border: 2px;
  padding: 15px 25px;
  width: 198px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
}

.button--big {
  border-radius: 1px;
  padding: 15px 25px;
  width: 262px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  display: flex;
  margin: 0 auto;
}

.button--transparent {
  border: 2px solid var(--color-text-light);
  color: var(--color-button-primary);
  border-radius: 1px;
  padding: 15px 25px;
  width: 166px;
  height: 56px;
  background: rgb(255 255 255 / 0%);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  align-items: center;
  margin: auto 0;
  background-color: transparent;
}

.button--text {
  background-color: transparent;
  color: var(--color-button-primary);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  border: none;
  padding-top: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  align-self: flex-start;
  margin: 0 auto;
}

.button::after {
  content: '';
  width: 20px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.17 6L13.59 8.59L15 10L20 5L15 0L13.59 1.41L16.17 4H0V6H16.17Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

@media (--md-viewport) {
  .button--text {
    padding-top: 17px;
    display: inline-flex;
  }
}

@media (--lg-viewport) {
  .button--big {
    margin: 0;
  }
}
