.customers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.customers__number {
  flex: 1;
  padding: 40px 0;
}

.customers__number-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: var(--color-gray-900);
  padding-bottom: 8px;
  text-align: center;
}

.customers__number-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-gray-900);
  text-align: center;
}

.customers__logo-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, 260px);
  column-gap: 30px;
  align-items: center;
  max-width: 730px;
}

.customers__logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

@media (--sm-viewport) {
  .customers__logo-grid {
    grid-template-columns: repeat(auto-fit, 160px);
  }
}

@media (--md-viewport) {
  .customers__logo-grid {
    grid-template-columns: repeat(auto-fit, 160px);
  }
}

@media (--xl-viewport) {
  .customers {
    display: flex;
    flex-direction: row;
  }

  .customers__number-title {
    text-align: left;
  }

  .customers__number-desc {
    text-align: left;
  }

  .customers__number {
    min-width: 350px;
    padding: 90px 0;
  }
}
