/* TODO */
.footer {
  background-color: var(--color-bg-dark);
  padding: 70px 0 44px;
}

.footer__title {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-text-light);
  padding-bottom: 33px;
  text-align: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footer__about {
  flex: 1;
  padding-bottom: 20px;
}

.footer__about-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
  padding-bottom: 6px;
  text-align: center;
}

.footer__about-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
  padding-bottom: 7px;
  text-align: center;
}

.footer__links-menu {
  display: flex;
  flex-direction: column;
}

.footer__links-row:first-child {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.footer__links-row:last-child {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.footer__links {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
  text-decoration: none;
  white-space: nowrap;
  text-align: right;
  display: inline-block;
}

.footer__divider-wrapper {
  padding: 32px;
}

.footer__divider {
  width: calc(width-64px);
  height: 1px;
  background: var(--color-text-light);
  opacity: 0.08;
}

.footer__сopyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__сopyrights-text-base {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
}

.footer__сopyrights-text-add {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
}

.footer__button-wrapper {
  padding-top: 17px;
  padding-bottom: 17px;
}

@media (--md-viewport) {
  .footer__title {
    text-align: left;
  }

  .footer__info {
    display: flex;
    flex-direction: row;
  }

  .footer__about {
    padding-bottom: 0;
  }

  .footer__about-title {
    text-align: left;
  }

  .footer__about-desc {
    text-align: left;
  }

  .footer__links-menu {
    gap: 32px;
  }

  .links-row:first-child {
    justify-content: flex-end;
  }

  .links-row:last-child {
    justify-content: flex-end;
  }
}
