/* TODO margin done */
.introduction {
  background-color: var(--color-bg-dark);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.introduction__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
  text-align: center;
}

@media (--md-viewport) {
  .introduction {
    padding: 69px 0 90px;
  }

  .introduction__title {
    font-size: 56px;
  }
}

@media (--lg-viewport) {
  .introduction {
    padding: 134px 0 150px;
  }

  .introduction__title {
    font-size: 64px;
    text-align: left;
  }
}
