.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
  flex-direction: column;
}

.reviews__card {
  display: flex;
  gap: 30px;
  max-width: 920px;
  place-items: center;
  flex-direction: column;
}

.reviews__container-buttons-base {
  display: none;
}

.reviews__container-buttons-add {
  display: flex;
  flex-direction: row;
  gap: 30px;
  place-items: center;
}

.reviews__portrait {
  width: 350px;
  height: 405px;
  border-radius: 3px;
  background-image: url('/images/pic2.png');
  padding-right: 30px;
  flex-shrink: initial;
}

.reviews__content {
  display: flex;
  flex-direction: column;
}

.reviews__text {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 124%;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  padding-bottom: 66px;
  font-weight: 400;
  text-align: center;
}

.reviews__author {
}

.reviews__logo {
  width: 100px;
  height: 30px;
}

.reviews__person {
  text-align: left;
}

.reviews__full-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: var(--color-nero);
}

.reviews__job-position {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-gray);
  font-weight: 400;
}

@media (--md-viewport) {
  .reviews {
    padding: 60px 0 90px;
  }

  .reviews__text {
    font-size: 32px;
    text-align: left;
  }

  .reviews__card {
    flex-direction: row;
  }
}

@media (--lg-viewport) {
  .reviews {
    padding: 84px 0 85px;
    flex-direction: row;
  }

  .reviews__container-buttons-base {
    display: flex;
  }

  .reviews__container-buttons-add {
    display: none;
  }

  .reviews__text {
    font-size: 42px;
    text-align: left;
    width: 540px;
  }
}
